extends ../../layout.pug

block body
    include ../../partials/header.pug

    .container.container-xs
        h1.mb-0 Rejoindre

        +flash

        form(action="" method="post")
            label.mt-4(for="i_username") Nom d'utilisateur
            input#i_username.input(name="username", type="text", placeholder="john-wick", value=_user.username, autofocus=!_user.username, required)
            .input-help Ce nom d'utilisateur sera à la base de votre adresse e-mail et ne pourra être changé par la suite.

            label.mt-4(for="i_email") Adresse e-mail de backup
            input#i_email.input(name="backupEmail", type="email", placeholder="john-wick", value=_user.backupEmail)
            .input-help Optionnel. Adresse e-mail pour la récupération de mot de passe.


            label.mt-4(for="i_password") Mot de passe
            input#i_password.input(name="password", type="password", placeholder="●●●●●●●●", required)

            input.btn.btn-primary.mt-4.w-100(type="submit", value="Valider")