extends ../../layout.pug

block body
    include ../../partials/header.pug

    .container.container-xs
        h1.mb-0 Se connecter

        +flash

        form(action="" method="post")
            label.mt-4(for="i_username") Nom d'utilisateur
            input#i_username.input(name="username", type="text", placeholder="john-wick", value=username, autofocus=!username)

            label.mt-4(for="i_password") Mot de passe
            input#i_password.input(name="password", type="password", placeholder="●●●●●●●●", autofocus=!!username)

            input.btn.btn-primary.mt-4.w-100(type="submit", value="Valider")