extends ../../layout.pug

block body
    include ../../partials/header.pug

    .container
        h1= __('Mon compte Naido')

        .layout-row
            .layout-sidebar
                include ../../partials/home/sidebar.pug
            .layout-content
                - let membershipStatus = user.membershipStatus()

                if membershipStatus > 0
                    h2.mt-0.mb-3= __('Raccourcis')

                    .card.card-rounded.card-secondary.shortcuts-card
                        a.shortcut(href="https://webmail.naido.org/", target="_blank")
                            .icon #[i.fas.fa-envelope]
                            span= __('Mail')
                        a.shortcut(href="https://cloud.naido.org/", target="_blank")
                            .icon #[i.fas.fa-cloud]
                            span= __('Cloud')
                        a.shortcut(href="https://riot.naido.org/", target="_blank")
                            .icon #[i.fas.fa-comments]
                            span= __('Chat')

                    h2.mb-3= __('Stockage cloud')

                    .card.card-rounded.card-secondary
                        .card-body
                            span= __('Vous avez utilisé {} ({}) de votre stockage cloud.', '10%', '0.3GB')

                            .progress-bar.mt-4
                                .progress-bar-filler(style="width: 10%")

                h2.mb-3(class=(membershipStatus > 0 ? '' : 'mt-0'))= __('Statut membre')

                .card.card-rounded.card-secondary
                    .card-body
                        if membershipStatus > 0
                            if membershipStatus === 2
                                if user.hasAccess('club')
                                    //- Le membre est admin ou membre gratuit
                                    p.m-0 !{__(`Votre statut de membre est en ordre pour une durée indéfinie.`)}
                                else
                                    //- Le membre est inscrit et en ordre
                                    p.m-0 !{__(`Votre statut de membre est payé jusqu'au {}. Pour renouveler, vous pouvez suivre {}ces instructions{}.`, moment(user.memberUntil).format(), '<a href="">', '</a>')}
                            else
                                //- Le membre a été inscrit mais n'est pas en ordre de paiement
                                span !{__(`Votre statut de membre n'est pas en ordre et a expiré le {}. Pour renouveler, vous pouvez suivre {}ces instructions{}.`, moment(user.memberUntil).format(), '<a href="">', '</a>')}
                        else
                            //- Le compte membre n'est pas inscrit
                            p.mt-0 !{__(`Votre compte n'est pas encore activé. Pour l'activer, veuillez suivre {}ces instructions{}. Votre compte sera activé à la réception du paiement.`, '<a href="">', '</a>')}
                            p.mb-0 Votre compte sera automatiquement supprimé s'il n'est pas activé dans les 14 jours.