extends ../../layout.pug

block body
    include ../../partials/header.pug

    .container
        h1= __('Mon compte Naido')

        .layout-row
            .layout-sidebar
                include ../../partials/home/sidebar.pug
            .layout-content
                h2.mt-0.mb-3= __('Changer de mot de passe')

                +flash

                .card.card-rounded.card-secondary
                    .card-body
                        form(action="" method="post")
                            label.mt-0(for="i_old_password")= __('Mot de passe actuel')
                            input#i_old_password.input(name="old_password", type="password", placeholder="●●●●●●●●", autofocus=true)

                            label.mt-4(for="i_new_password")= __('Nouveau mot de passe')
                            input#i_new_password.input(name="new_password", type="password", placeholder="●●●●●●●●")

                            label.mt-4(for="i_new_password2")= __('Nouveau mot de passe (rép)')
                            input#i_new_password2.input(name="new_password2", type="password", placeholder="●●●●●●●●")

                            input.btn.btn-primary.mt-4.w-100(type="submit", value=__('Enregistrer'))
