extends ../../layout.pug

block body
    include ../../partials/header.pug

    .container
        h1= __('Sécurité')

        .layout-row
            .layout-sidebar
                include ../../partials/home/sidebar.pug
            .layout-content
                +flash

                h2.mt-0.mb-3= __('Mon e-mail de backup')
                .card.card-rounded.card-secondary
                    .card-body
                        form(action="" method="post")
                            label.mt-0(for="i_backup_email")= __('E-mail')
                            input#i_backup_email.input(name="backupEmail", type="email", placeholder="", value=user.backupEmail)
                            .input-help Adresse e-mail pour la récupération de mot de passe.

                            input.btn.btn-primary.mt-4.w-100(type="submit", value=__('Enregistrer'))

                h2.mb-3= __('Zone dangereuse')
                .card.card-rounded.card-secondary
                    .card-body
                        a.btn.btn-danger(href="/home/security/delete-account") Effacer votre compte