extends ../../layout.pug

block body
    include ../../partials/header.pug

    .container
        h1= __('Mon compte Naido')

        .layout-row
            .layout-sidebar
                include ../../partials/home/sidebar.pug
            .layout-content
                h2.mt-0.mb-3= __('Mes services')

                .card.card-rounded.card-secondary.services-card
                    each service in services
                        a.service(href=link(`/services/${service.slug}`))    
                            .service-name= service.name
                            .service-username john@wick.org
                            
                            if service.status === 'inactive'
                                .service-status.ml-auto Non activé
                            else if service.status === 'active'
                                .service-status.service-status-active.ml-auto 
                                | Activé&nbsp;&nbsp;
                                i.fas.fa-check
                            else if service.status === 'unavailable'
                                .service-status.ml-auto Non disponnible