.alert {
    padding: 12px;
    margin: 10px 0;
    color: white;
    border-radius: 4px;
    border-top: 3px solid transparent;
}

.alert-error {
    background-color: $color-error;
    border-color: lighten($color-error, 20);
}

.alert-success {
    background-color: $color-success;
    border-color: lighten($color-success, 20);
}

.alert-success {
    background-color: $color-primary;
    border-color: lighten($color-primary, 20);
}

.alert.alert-hover:hover {
    &.alert-success {
        background-color: lighten($primary-color, 2);
    }
}
