.btn {
    padding: 12px;
    display: inline-block;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: $background-color-r;
    color: $text-color-r;

    &:hover {
        background-color: lighten($background-color-r, 3);
    }
}

.btn-danger {
    background-color: rgb(240, 71, 71);
    color: white;

    &:hover {
        background-color: lighten(rgb(240, 71, 71), 3);
    }
}
