.card {
    overflow: hidden;

    &.card-rounded {
        border-radius: 5px;
    }

    &.card-primary {
        background-color: $primary-color;
        color: $text-color-r;
    }

    &.card-secondary {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .card-body {
        padding: 12px $content-margin;
    }
}

.card.shortcuts-card {
    display: flex;
    overflow: hidden;

    .shortcut {
        text-align: center;
        padding: 15px 30px;
        text-decoration: none;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        outline: none;
        flex: 1 0 auto;
        flex-wrap: wrap;

        .icon {
            font-size: 2.5em;
            opacity: 0.9;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            border-bottom: 3px solid $primary-color;

            .icon {
                opacity: 1;
            }
        }
    }
}

.card.services-card {
    .service {
        padding: 12px 15px;
        display: flex;
        text-decoration: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .service-name {
            font-weight: 500;
        }

        .service-username {
            opacity: 0.6;
            margin-left: 8px;
        }

        .service-status {
            &.service-status-active {
                color: green;
            }
        }
    }
}
