label {
    margin-top: 5px;
    padding-bottom: 5px;
}

.input[type='text'],
.input[type='password'],
.input[type='email'] {
    width: 100%;
    padding: 12px 12px;
    font-size: 1.05em;
    border: 2px solid rgba($text-color, 0.1);
    border-radius: 4px;

    &:hover {
        border-color: rgba($primary-color, 0.4);
    }

    &:active,
    &:focus {
        border-color: $primary-color;
    }
}

.input-help {
    opacity: 0.8;
    font-size: 0.9em;
    margin: 4px 0;
}
