.navbar {
    background-color: $primary-color;
    color: $text-color-r;

    .container,
    .navbar-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-brand {
        margin: $navbar-margin $navbar-margin $navbar-margin 0;
        font-size: 24px;
        font-weight: bold;
        color: inherit;
        text-decoration: none;
    }

    .navbar-link {
        padding: 8px 10px;
        margin: ($navbar-margin - 4px);
        border-radius: 3px;
        color: inherit;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        display: block;

        &.active,
        &:hover {
            background-color: rgba($background-color, 0.15);
        }
    }

    .navbar-link-r {
        background-color: rgba(0, 0, 0, 0.4);

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .navbar-links {
        width: 100%;
    }

    .navbar-toggle {
        display: none;
    }

    /*
     * Mobile behaviour
     */
    @media screen and (max-width: 700px) {
        .navbar-toggle {
            display: block;
        }

        .container {
            flex-direction: column;
            align-items: stretch;
        }

        .navbar-links {
            flex-wrap: wrap;
            flex-direction: row;
        }

        .navbar-brand {
            margin-right: auto;
        }

        .navbar-links {
            display: none;
            opacity: 0;
            transition: opacity 4s;
        }

        &.navbar-open {
            .navbar-links {
                display: block;
                opacity: 1;
            }
        }

        // Bad hack to make elements align correctly
        .navbar-link.ml-auto {
            margin-left: ($navbar-margin - 4px) !important;
        }
    }
}
