.progress-bar {
    display: block;
    height: 8px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;

    .progress-bar-filler {
        height: 100%;
        border-radius: 4px;
        background-color: $primary-color;
    }
}
