.service-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 -10px;

    .service {
        flex: 1 0 0;
        margin: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        min-width: 150px;
    }

    .service-secondary {
        opacity: 0.8;
    }
}
