body {
    background-color: $background-color;
    color: $text-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

label,
input {
    display: block;
}

p {
    line-height: 1.4em;
}
