.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 $content-margin;
}

.container-fluid {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.container-md {
    max-width: 800px;
}

.container-xs {
    max-width: 400px;
}

.layout-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.layout-sidebar {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 3px solid $primary-color;
    border-radius: 5px;
    overflow: hidden;

    margin-right: 16px;

    .sidebar-link {
        display: block;
        padding: 16px;
        text-decoration: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.layout-content {
    width: 100%;
}
