$spacers: (
    0: 0,
    1: 2px,
    2: 4px,
    3: 8px,
    4: 16px,
    5: 32px,
    auto: auto
);

$utilities: (
    'margin': (
        class: m,
        property: margin,
        values: $spacers
    ),
    'margin-vertical': (
        class: mv,
        property: margin-top margin-bottom,
        values: $spacers
    ),
    'margin-top': (
        class: mt,
        property: margin-top,
        values: $spacers
    ),
    'margin-bottom': (
        class: mb,
        property: margin-bottom,
        values: $spacers
    ),
    'margin-left': (
        class: ml,
        property: margin-left,
        values: $spacers
    ),
    'margin-right': (
        class: mr,
        property: margin-right,
        values: $spacers
    ),
    'padding': (
        class: p,
        property: padding,
        values: $spacers
    ),
    'padding-vertical': (
        class: pv,
        property: padding-top padding-bottom,
        values: $spacers
    ),
    'padding-top': (
        class: pt,
        property: padding-top,
        values: $spacers
    ),
    'padding-bottom': (
        class: pb,
        property: padding-bottom,
        values: $spacers
    ),
    'padding-left': (
        class: pl,
        property: padding-left,
        values: $spacers
    ),
    'padding-right': (
        class: pr,
        property: padding-right,
        values: $spacers
    ),
    'text-align': (
        class: text,
        property: text-align,
        values: (
            left: left,
            center: center,
            right: right
        )
    ),
    'color': (
        class: color,
        property: color,
        values: (
            primary: $primary-color,
            r: $text-color-r
        )
    ),
    'bg': (
        class: bg,
        property: background-color,
        values: (
            primary: $primary-color
        )
    ),
    'flex': (
        class: d,
        property: display,
        values: (
            block: block,
            inline: inline,
            inline-block: inline-block,
            flex: flex
        )
    )
);

@each $key, $utility in $utilities {
    $values: map-get($utility, values);

    @each $key, $value in $values {
        $props: map-get($utility, property);

        @if type-of($props) == 'string' {
            $props: append((), $props);
        }

        $prop-class: map-get($utility, class);

        .#{$prop-class + '-' + $key} {
            @each $prop in $props {
                #{$prop}: $value !important;
            }
        }
    }
}

// Additional utilities
.no-select {
    user-select: none;
}

.w-100 {
    width: 100%;
}
