extends ../layout.pug

block body
    include ../partials/header.pug

    .container.mt-5
        .jumbotron
            .jumbotron-subtitle !{__(`Une adresse mail,{0} Un espace de stockage,{0} Une messagerie instantanée,{0} Le tout {1}respectueux de votre vie privée.{2}`, '<br>', `<span class="color-primary">`, `</span>`)}

    .container.mt-5
        h2.mb-0 Nos services

        .service-gallery
            a.alert.alert-success.alert-hover.service(href="https://webmail.naido.org", target="_blank")
                .service-inner
                    .title Email
            a.alert.alert-success.alert-hover.service(href="https://cloud.naido.org", target="_blank")
                .service-inner
                    .title Cloud
            a.alert.alert-success.alert-hover.service(href="https://riot.naido.org", target="_blank")
                .service-inner
                    .title Chat
            a.alert.alert-success.alert-hover.service.service-secondary(href="https://maly.io", target="_blank")
                .service-inner
                    .title Mastodon

        h2.mb-2 Devenir membre

        .card.card-rounded.card-secondary
            .card-body
                p.m-0 Pour devenir membre, il suffit de #[a(href="https://www.patreon.com/KindlyFire", target="_blank") visiter la page Patreon] et donner 3$ ou plus par mois. Alternativement, le coût des services est de 6€ (par virement) ou 9DU par trimestre. Les instructions pour payer par virement ou en G1 sont #[a(href="https://wiki.naido.org/paiement") sur le wiki].