mixin flash()
    if _session.flash && Array.isArray(_session.flash)
        each msg in _session.flash
            .alert(class=`alert-${msg.type}`)= msg.message
        
        - _session.flash = []