include mixins/flash.pug

doctype html
html
    head
        meta(charset="UTF-8")
        title= __('Naido')
            
        block meta
            meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        block styles
            link(rel="stylesheet" href=asset('main.css'))
            link(rel="stylesheet" href=asset('vendor/font-awesome/css/all.css'))

    body
        block body
        block scripts
            script(src=asset('js/navbar.js'))