a.sidebar-link(href="/home")= __('Mon compte')
a.sidebar-link(href="/home/password")= __('Mot de passe')
a.sidebar-link(href="/home/services")= __('Mes services')
a.sidebar-link(href="/home/security")= __('Sécurité')
a.sidebar-link(href="/auth/logout") #[i.fas.fa-sign-out-alt] &nbsp;#{__('Se déconnecter')}