header#navbar.navbar
    .container
        .navbar-content
            a.navbar-brand(href="/")= __('Naido')

            a#navbar_toggle.navbar-toggle.navbar-link.no-select()= __('Menu')

        .navbar-content.navbar-links
            //- if !user
            //-     a.navbar-link(href="/auth/join")= __('Rejoindre')

            if user
                a.navbar-link.navbar-link-r.ml-auto(href="/home") 
                    i.fas.fa-user
                    | &nbsp;&nbsp;#{user.username}
                
                if user.hasAccess('admin')
                    a.navbar-link.navbar-link-r(href="/admin") 
                        i.fas.fa-lock
                        | &nbsp;&nbsp;Admin
            else
                a.navbar-link.navbar-link-r.ml-auto(href="/auth/login")= __('Se connecter')