$primary-color: #6e9cd4;

$background-color: white;
$background-color-r: $primary-color;
$text-color: #404040;
$text-color-r: #fafafa;

$content-margin: 15px;
$navbar-margin: 11px;

$color-error: #d32a40;
$color-success: #61bc5e;
$color-primary: $primary-color;
